:root {
    --bg-color-dark: #473c38;
    --bg-color-light: #6b5a55;
    --main-color: #ffdc9d;
}

.invisible {
    display: none;
}

p {
    font-size: 70%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

button {
    font-size: 70%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.8);
    border: transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}

button:hover {
    background-image: linear-gradient( transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

select {
    height: 2em;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2px;
}

input {
    height: 2em;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2px;
}

.btn {
    transition: filter 0.2s;
    cursor: pointer;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 0px 0px #000000; 
    box-shadow: 4px 4px 0px 0px #000000;
    background: #473c38;
    color: #ffdc9d;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    filter: brightness(0.8);
}

.btn-text {
    width: auto;
    min-width: 10rem;
    height: 3.5rem;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
}

.btn-text-small {
    height: 3rem;
}

.btn-text img {
    height: 2rem;
    border-radius: 8px;
    padding: 0.1rem;
}

.btn-secondary {
    background: var(--bg-color-light);
    border-top: 1px solid var(--bg-color-dark);
    border-left: 1px solid var(--bg-color-dark);
}

.btn-big-plus {
    height: 3.5rem;
    width: 3.5rem;
}

.btn-big {
    height: 3rem;   
}

.btn-small {
    height: 2rem;
}


.logo {
    border-radius: 4px;
    -webkit-box-shadow: 7px 7px 0px 0px #000000; 
    box-shadow: 7px 7px 0px 0px #000000;
}



#conteudo {
    float: left;
    width: 100%;
}

.room {
    z-index: 1;
}





.bgSelector {
    padding: 0;
    padding: 0 !important;
    margin-left: 0.5rem;
    border-radius: 9px;
    z-index: 9;
    cursor: pointer;
    border: 1px solid #000;
}

.diceRoller {
    padding: 0 !important;
    /* position: absolute; */
    z-index: 9;
    /* top: 10px; */
    /* right: 50px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0px;
}

/* fazer o dado tremer */

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* COLAPSE ESTILO */


/* The Close Button */

.close {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeUp {
    height: 3rem;
    float: right;
}

.closeUp:hover,
.closeUp:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cardDeck {
    position: absolute;
    width: 150px;
    height: 200px;
    min-width: 100px;
    min-height: 200px;
    cursor: move;
    background-color: aqua;
}





/* opcoes do menu */


/* Add a black background color to the top navigation */

.topnav {
    background-color: #6b5a55;
    overflow: hidden;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}


/* Style the links inside the navigation bar */

.topnav div {
    display: flex;
    float: left;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
}

.topbar-options {
    gap: 0.5rem;
}


#topnav-add-item img,
#topnav-delete-item img,
#topnav-add-text img {
    margin-left: 0.5rem;
    vertical-align: middle;
}

#topnav-options-end {
    flex: 1;
    justify-content: flex-end;
}

.topnav span {
    text-align: left;
}

.topnav label {
    color: #FAE1B3;
}

.topnav select {
    width: 70%;
}

#topnav-add-text {
    flex-direction: column;
    align-items: end;
}

#topnav-add-text div {
    padding: 0;
}


/* Change the color of links on hover */


/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */


/* Add a color to the active/current link */


/* .topnav a.active {
  background-color: #4caf50;
  color: white;
} */


