.diceWhat {
    background-image: url("../../img/icons/new/dice/what.png");
}

.dice1 {
    background-image: url("../../img/icons/new/dice/d1.png");
}

.dice2 {
    background-image: url("../../img/icons/new/dice/d2.png");
}

.dice3 {
    background-image: url("../../img/icons/new/dice/d3.png");
}

.dice4 {
    background-image: url("../../img/icons/new/dice/d4.png");
}

.dice5 {
    background-image: url("../../img/icons/new/dice/d5.png");
}

.dice6 {
    background-image: url("../../img/icons/new/dice/d6.png");
}