.city1 {
    background-image: url("../../img/world/places/city1.png");
}

.city2 {
    background-image: url("../../img/world/places/city2.png");
}

.city3 {
    background-image: url("../../img/world/places/city3.png");
}

.city4 {
    background-image: url("../../img/world/places/city4.png");
}

.dungeon_entrance {
    background-image: url("../../img/world/places/dungeon_entrance.png");
}

.fort {
    background-image: url("../../img/world/places/fort1.png");
}

.portal {
    background-image: url("../../img/world/places/portal.png");
}

.oasis {
    background-image: url("../../img/world/places/oasis.png");
}

.rocks {
    background-image: url("../../img/world/places/rocks.png");
}

.ruins {
    background-image: url("../../img/world/places/ruins.png");
}

.ship {
    background-image: url("../../img/world/places/ship.png");
}

.tower1 {
    background-image: url("../../img/world/places/tower1.png");
}

.tower2 {
    background-image: url("../../img/world/places/tower2.png");
}