.bgStyle1 {
    background-color: #f0f0f0;
    background-repeat: repeat;
}

.bgStyle2 {
    background-image: url("../img/bg/sq3.png");
    background-repeat: repeat;
}

.bgStyle3 {
    background-image: url("../img/bg/wood3.jpg");
    background-repeat: repeat;
}

.bgStyle4 {
    background-image: url("../img/bg/paper2.jpg");
    background-repeat: repeat;
}

.bgStyle5 {
    background-image: url("../img/bg/dark.jpg");
    background-repeat: repeat;
}

/* --------------- */
.smallRoom {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    background-image: url("../img/tiles/scenario/floor.jpg");
    background-size: 6mm;
    text-align: center;
    border: 0px;
    cursor: move;
}

.corridorh {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 150px;
    background-image: url("../img/tiles/scenario/floor.jpg");
    background-size: 6mm;
    text-align: center;
    border: 0px;
    cursor: move;
}

.corridorv {
    width: 30px;
    height: 150px;
    position: absolute;
    top: 150px;
    background-image: url("../img/tiles/scenario/floor.jpg");
    background-size: 6mm;
    text-align: center;
    border: 0px;
    cursor: move;
}

.bigRoom {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    background-image: url("../img/tiles/scenario/floor.jpg");
    background-size: 6mm;
    text-align: center;
    border: 0px;
    cursor: move;
}

/* ------------------ */

.player1 {
    background-image: url("../img/icons/player1.png");
}

.player2 {
    background-image: url("../img/icons/player2.png");
}

.player3 {
    background-image: url("../img/icons/player3.png");
}

.player4 {
    background-image: url("../img/icons/player4.png");
}

.diceWhat {
    background-image: url("../img/icons/new/dice/what.png");
}

.dice1 {
    /* background-image: url("../img/dice/b1.png"); */
    background-image: url("../img/icons/new/dice/d1.png");
}

.dice2 {
    background-image: url("../img/icons/new/dice/d2.png");
}

.dice3 {
    background-image: url("../img/icons/new/dice/d3.png");
}

.dice4 {
    background-image: url("../img/icons/new/dice/d4.png");
}

.dice5 {
    background-image: url("../img/icons/new/dice/d5.png");
}

.dice6 {
    background-image: url("../img/icons/new/dice/d6.png");
}

/* backgroud dos itens */

.goblin {
    background-image: url("../img/tiles/creatures/goblin.png");
    width: 25px;
    height: 35px;
}

.knight {
    background-image: url("../img/tiles/creatures/knight.png");
    width: 35px;
    height: 45px;
}

.chest {
    background-image: url("../img/tiles/itens/chest.png");
}

.key {
    background-image: url("../img/tiles/markers/key.png");
}

.fire {
    background-image: url("../img/tiles/itens/fire.png");
}

.wolf {
    background-image: url("../img/tiles/creatures/wolf.png");
    width: 35px;
    height: 35px;
}

.spider {
    background-image: url("../img/tiles/creatures/spider.png");
    width: 35px;
    height: 35px;
}

.soldier {
    background-image: url("../img/tiles/creatures/soldier.png");
    width: 45px;
}

.archer {
    background-image: url("../img/tiles/creatures/archer.png");
    width: 35px;
    height: 55px;
}

.skeleton {
    background-image: url("../img/tiles/creatures/skeleton.png");
    width: 35px;
    height: 45px;
}

.thief {
    background-image: url("../img/tiles/creatures/thief.png");
    width: 35px;
    height: 45px;
}

.ogre {
    background-image: url("../img/tiles/creatures/ogre.png");
    width: 35px;
    height: 45px;
}

.orc {
    background-image: url("../img/tiles/creatures/orc.png");
    width: 35px;
    height: 45px;
}

.giant {
    background-image: url("../img/tiles/creatures/giant.png");
    width: 35px;
    height: 45px;
}

.dragon {
    background-image: url("../img/tiles/creatures/dragon.png");
    width: 45px;
}

.barbarian {
    background-image: url("../img/tiles/creatures/barbarian.png");
    width: 35px;
    height: 45px;
}

.rogue {
    background-image: url("../img/tiles/creatures/rogue.png");
    width: 35px;
    height: 45px;
}

.doorclosed {
    background-image: url("../img/tiles/itens/closeddoor.png");
    width: 60px;
}

.dooropen {
    background-image: url("../img/tiles/itens/opendoor.png");
}

.torch {
    background-image: url("../img/tiles/scenario/torch.png");
}

.trhone {
    background-image: url("../img/tiles/scenario/throne.png");
    width: 35px;
}

.blood {
    background-image: url("../img/tiles/scenario/blood.png");
}

.bones {
    background-image: url("../img/tiles/scenario/bones.png");
}

.stairs {
    background-image: url("../img/tiles/scenario/stairs.png");
}

/* gerador de mundos */

.terrain {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 150px;
    background-size: 6mm;
    text-align: center;
    border: 0px;
    cursor: move;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.plane {
    background-image: url("img/world/planicie.png");
}

.ice {
    background-image: url("img/world/ice.png");
}

.forest {
    background-image: url("img/world/floresta.png");
}

.mountain {
    background-image: url("img/world/montanha.png");
}

.pant {
    background-image: url("img/world/pantano.png");
}

.water {
    background-image: url("img/world/agua.png");
}

.desert {
    background-image: url("img/world/deserto.png");
}


/* places of the world */

.city1 {
    background-image: url("img/world/places/city1.png");
}

.city2 {
    background-image: url("img/world/places/city2.png");
}

.city3 {
    background-image: url("img/world/places/city3.png");
}

.city4 {
    background-image: url("img/world/places/city4.png");
}

.dungeon_entrance {
    background-image: url("img/world/places/dungeon_entrance.png");
}

.fort {
    background-image: url("img/world/places/fort1.png");
}

.portal {
    background-image: url("img/world/places/portal.png");
}

.oasis {
    background-image: url("img/world/places/oasis.png");
}

.rocks {
    background-image: url("img/world/places/rocks.png");
}

.ruins {
    background-image: url("img/world/places/ruins.png");
}

.ship {
    background-image: url("img/world/places/ship.png");
}

.tower1 {
    background-image: url("img/world/places/tower1.png");
}

.tower2 {
    background-image: url("img/world/places/tower2.png");
}


/* estilo dos itens de upload */

.upCreature {
    width: 35px;
    height: 45px;
    position: absolute;
    z-index: 9;
    top: 150px;
    border: 0px;
    cursor: move;
}

.upSmallItem {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 9;
    top: 150px;
    border: 0px;
    cursor: move;
}

.upMediumItem {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 9;
    top: 150px;
    border: 0px;
    cursor: move;
}

.upSmallRoom {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 150px;
    border: 0px;
    cursor: move;
}

.upBigRoom {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 150px;
    border: 0px;
    cursor: move;
}

.upVertCorridor {
    width: 30px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 150px;
    border: 0px;
    cursor: move;
}

.upHorCorridor {
    width: 150px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 150px;
    border: 0px;
    cursor: move;
}